.footer-home__container {
    padding: 30px 20px;
    background-color: $colour-primary;
    text-align: center;

    .content-title {
font-size: 18px;
text-transform: uppercase;
color: $colour-dark;
font-weight: bold;
line-height: 1.2em;
    }

    h2{
        font-size: 30px;
        font-weight: normal;
    line-height: 0.8em;
    letter-spacing: 0.2px;
    margin-bottom: 30px;
    }

    .customs-img {
        // margin: 0 auto;
        width: 20%;
    }
    li span {
        color: $colour-light;
        line-height: 1.5em;
        font-size: 14px;
    }
    &--box {
        padding: 10px;
    }

    .copyright{
        font-size: 14px;
    }
}
