.BACK-FOOTER-HOME-CONTAINER {
    background-color: $colour-primary;

    .footer-home__container {
        max-width: 1170px;
        padding: 30px 0;
        width: 90%;
        margin: 0 auto;
        text-align: center;

        .content-title {
            font-size: 18px;
            text-transform: uppercase;
            color: $colour-dark;
            font-weight: bold;
            line-height: 1.2em;
            padding-bottom: 16px;
        }

        h2 {
            font-size: 30px;
            font-weight: normal;
            line-height: 0.8em;
            letter-spacing: 0.2px;
        }

        .customs-img {
            padding: 16px;
            width: 30%;
            > img{
                max-width: 134px;
          

            }
        }
        li span {
            color: $colour-light;
            line-height: 1.5em;
            font-size: 14px;
        }
        &--box {
            padding: 10px;
        }

        @include MQ(M) {
            text-align: left;
            flex-direction: row;
            padding: 100px 0 50px 0;

            &--box {
                padding: 0;
                width: 35%;

                > ul {
                    padding-right: 10px;
                }
            }

            h2 {
                width: 80%;
                font-size: 52px;
                padding-left: 10px;
            }
            .customs-img {
                padding-left: 6px;
                width: 29%;
            }
        }
    }
    .copyright-box {
        font-size: 14px;
        text-align: center;
        width: 100%;
        padding-bottom: 30px;

        @include MQ(M) {
            padding-bottom: 50px;
        }
    }
}

.footer-common__container {
    background-color: $colour-dark;

    &--box {
        padding: 30px 0;
        // display: flex;
        // flex-direction: column;
        .title--box {
            text-align: center;
            padding: 10px;
            :first-child {
                color: $colour-light;
                font-size: 52px;
                font-weight: normal;
                line-height: 0.8em;
                letter-spacing: 0.2px;
            }
            :last-child {
                font-size: 30px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 0.8em;
                letter-spacing: 0.2px;
                color: $colour-light;
            }
        }
        .btn--box {
            padding: 10px;
            display: flex;
            a {
                padding: 0 5px;
                img {
                    width: 100px;
                }
            }
        }

        .copyright--box {
            display: flex;
            flex-direction: column;

            span {
                font-size: 18px;
                padding: 10px;
                text-align: center;
                font-weight: 600;
                color: $colour-light;
                line-height: 1.2em;
                a {
                    color: $colour-light;
                }
            }
        }
    }
    color: $colour-light;
}
