.header__background {
    background-image: url(../../public/img/common/home-background.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 695px;
    width: 100vw;
}

.banner__container {
    h1 {
        font-size: 36px;
        line-height: 1.2;
        font-weight: 500;
        font-family: "Assistant", Sans-serif;
    }
    display: flex;
    height: calc(695px - 8rem);
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 8rem 3rem 3rem 3rem;

    &--content {
        align-items: center;

        color: white;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2em;
    }

    .btn-homepage {
        width: 70%;
        padding: 5px 0;
        max-width: 260px;
    }
}

@media screen and (min-width: 1025px) {
    .header__background {
        height: 100vh;
    }

    .banner__container {
        padding-left: 6rem;
        padding-right: 6rem;
        h1 {
            text-align: left;
            font-size: 54px;
        }

        &--content {
            align-items: flex-start;
            font-size: 28px;
            font-weight: 500;
        }
    }

    .btn-homepage__container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        > .elementor-widget-container {
            margin-right: -50px;
        }
    }
}

.common__background {
    background-image: url(../../public/img/common/blog-background.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    text-align: center;
    color: $colour-light;

    .common__container {
        min-height: 200px;
        justify-content: space-between;
        padding: 20px 0 30px 0;
        width: 90%;
        margin: 0 auto;

        .logo {
            > img {
                padding: 10px;

                width: 25%;
            }
        }

        p {
            margin-top: -5px;
            a {
                font-size: 14px;
                color: $colour-light;
            }
        }
        h1 {
            line-height: 1.2;
            display: flex;
            flex-direction: column;
            color: $colour-light;
            text-transform: capitalize;

            :first-child {
                font-size: 56px;
                font-weight: normal;
            }

            :last-child {
                font-size: 30px;
                text-transform: uppercase;
                font-weight: 600;
                font-family: "Assistant", Sans-serif;
            }
        }
    }
}

.no__background {
    padding-top: 70px;
    // background-image: url(../../public/img/common/home-background.png);
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    // height: 695px;
    // width: 100vw;

    &--container {
        color: $colour-light;
        width: 85%;
        padding: 50px 10px;
        margin: 0 auto;

        .title {
            h1 {
                margin: 0.4em 0;
                line-height: 1.2;
                text-transform: none;
                color: $colour-light;
                font-size: 40px;
            }

            p {
                font-size: 14px;
                opacity: 0.6;
            }
        }

        .ui-breadcrumb {
            width: 100%;
            font-size: 14px;
            a {
                color: $colour-light;
                opacity: 0.6;
            }
            i {
                opacity: 0.5;
                font-size: 10px;
                display: inline-block;
                vertical-align: middle;
                padding: 0 6px;
            }
        }
    }
}
