.header__background {
    background-image: url(../../public/img/common/home-background.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

.banner__container {
    h1 {
        margin: 25px 20px 25px 20px;
        font-size: 36px;
        line-height: 1.2;
        font-weight: 500;
        font-family: "Assistant", Sans-serif;

        @include MQ(M) {
            margin-left: 0;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 6rem 3rem 3rem 3rem;
    max-width: 1170px;

    @include MQ(M) {
        height: 100vh;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }

    &--content {
        align-items: center;
        margin: 45px 0;
        color: white;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2em;

        :first-child {
            padding-bottom: 1rem;
        }
    }

    .btn-homepage {
        width: 70%;
        padding: 5px 0;
        max-width: 260px;
    }
}

@include MQ(M) {
    .header__background {
        height: 100vh;
    }

    .banner__container {
        h1 {
            text-align: left;
            font-size: 54px;
        }

        &--content {
            text-align: left;
            align-items: flex-start;
            font-size: 28px;
            font-weight: 500;
        }
    }

    .btn-homepage__container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        > .elementor-widget-container {
            margin-right: -50px;
        }
    }
}

.common__background {
    background-image: url(../../public/img/common/blog-background.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    text-align: center;
    color: $colour-light;

    .common__container {
        min-height: 200px;
        justify-content: space-between;
        padding: 10px 0 30px 0;
        width: 90%;
        margin: 0 auto;
        max-width: 1170px;

        .logo {
            > img {
                width: 25%;
            }
        }

        p {
            a {
                font-size: 14px;
                color: $colour-light;
                font-weight: 600;
                line-height: 1.2em;
                &:active,
                &:visited {
                    color: $colour-light;
                }
            }
        }
        .title-2fonts {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            color: $colour-light;

            :first-child {
                line-height: 0.8em;
                letter-spacing: 0.2px;
                text-transform: capitalize;
                font-size: 45px;
                font-weight: normal;
            }

            :last-child {
                font-size: 30px;
                text-transform: uppercase;
                font-weight: 600;
                font-family: "Assistant", Sans-serif;
            }
        }
        @include MQ(M) {
            .logo {
                > img {
                    width: auto;
                }
            }

            .title-2fonts {
                width: 100%;
                align-items: flex-start;
                padding: 10px 10px 40px 10px;

                :first-child {
                    font-size: 100px;
                    width: 50%;
                    letter-spacing: -0.027em;
                }
                :last-child {
                    font-size: 52px;
                    width: 50%;
                }
            }
        }
    }
}

.taxrefund-header {
    background-image: url(../../public/img/common/web_savin_detaxe1.jpg);
}

.customs-header {
    background-image: url(../../public/img/common/web_savin_douanes1.jpg);
    // background-color: black;
}

.no__background {
    padding-top: 70px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &--container {
        color: $colour-light;
        width: 85%;
        padding: 50px 10px;
        margin: 0 auto;

        h1 {
            margin: 16px 0;
            width: 100%;
            line-height: 1.2;
            text-transform: none;
            text-align: left;
            color: $colour-light;
            font-size: 40px;
            text-shadow: 2px 2px 10px black;
        }
        @include MQ(M) {
            padding: 100px 10px;
            h1 {
                margin: 0;
                font-size: 52px;
            }
        }

        p {
            font-size: 14px;
            opacity: 0.6;
        }

        .ui-breadcrumb {
            width: 100%;
            font-size: 14px;
            a {
                color: $colour-light;
                opacity: 0.6;
                &:active,
                &:visited {
                    color: $colour-light;
                }
            }
            i {
                opacity: 0.5;
                font-size: 10px;
                display: inline-block;
                vertical-align: middle;
                padding: 0 6px;
            }
        }
    }
}
