#wrapper-navbar {
    width: 100%;
    z-index: 99;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    transition: 0.5s ease-in-out;

    @include MQ(L) {
        padding: 0;
    }
}

.logo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include MQ(L) {
        padding: 20px 0;
    }

    .uicore-branding > a {
        display: flex;

        > img {
            height: 24px;

            @include MQ(M) {
                height: 40px;
            }
        }
    }
}

.nav__container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    @include MQ(L) {
        display: flex;
        justify-content: space-between;
    }
}

.uicore-nav-menu {
    display: none;
    padding-top: 60px;

    .language-box {
        display: flex;
        align-items: center;
        #enTranslator,
        #frTranslator {
            cursor: pointer;
            width: fit-content;
        }
    }

    .navbar__link {
        .ui-menu-item-wrapper:visited {
            color: #070707;
        }
        .chevron-box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .active {
            color: $colour-primary !important;
        }
        &:hover {
            .ui-menu-item-wrapper,
            i {
                color: $colour-primary !important;
                transition: all 0.2s cubic-bezier(0.68, 0.01, 0.58, 0.75);
            }
        }
        .sub-menu {
            display: none;
        }
    }
}

// BURGER MENU IS CLICKED AND OPEN
.show-nav {
    height: 100vh !important;
    background-color: white !important;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: 0.5s ease-in-out;
    @include MQ(L) {
        height: 0;
    }

  

    .logo-box {
        display: flex;
        justify-content: space-between;
        @include MQ(L) {
            padding: 30px 20px;
        }
    }

    .uicore-nav-menu {
        display: flex;
        flex: 1;
        padding-bottom: 60px;
    }
    .ui-menu-item-wrapper {
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        // font-family: "Inter";
        &:active,
        &:visited {
            color: "#070707";
        }
    }
    .navbar__link {
        padding: 15px 0;

        .chevron-box {
            cursor: pointer;
            min-width: 85vw;
            i {
                font-size: 12px;
            }
        }

        .show-menu.sub-menu {
            display: flex;
            flex-direction: column;
            width: 85vw;
            padding-top: 5px;
            .menu-item {
                font-size: 18px;
                padding: 5px 5px;
                font-weight: 600;
                .ui-submenu-item:hover {
                    color: $colour-primary;
                }
            }
        }
    }
}

.burger {
    display: block;
    position: relative;
    height: 25px;
    width: 25px;

    border: none;
    background: transparent;
    cursor: pointer;
}

.bar {
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background: red;
    transition: all 0.5s ease-in-out;
}
.bar::before,
.bar::after {
    content: "";
    width: 25px;
    height: 3px;
    position: absolute;
    left: 0;
    background: black;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}
.bar::before {
    transform: translateY(-8px);
}
.bar::after {
    transform: translateY(8px);
}

/* Toggle menu */

.show-nav .bar {
    background: transparent;
}
.show-nav .bar::before {
    transform: rotate(45deg);
}
.show-nav .bar::after {
    transform: rotate(-45deg);
}

//   /* Bonus - Animations */
//   .show-nav .first {
//     transition: all 1s ease-out;
//   }
//   .show-nav .second {
//     transition: all 1.1s ease-out;
//   }
//   .show-nav .third {
//     transition: all 1.2s ease-out;
//   }
//   .show-nav .four {
//     transition: all 1.3s ease-out;
//   }
//   .show-nav .fifth {
//     transition: all 1.4s ease-out;
//   }

//   @media screen and (max-width:767.98px) {
//     .navbar__links {
//       overflow:hidden;
//       display:flex;
//       flex-direction:column;
//       width:0;
//       height:calc(100vh - 65px);
//       position:absolute;
//       top:65px;
//       right:0;
//       background:var(grey);
//       transform: translateX(110%);
//       transition: all .5s ease-in-out;
//     }

// }

@include MQ(L) {
    .nav__container {
        padding: 0 10px;
    }
    .menu-item-has-children {
        position: relative;
        .chevron-box {
            cursor: pointer;
            > a {
                margin-right: 7px;
            }
            > i {
                font-size: 12px;
                transform: rotate(0deg);
                color: white;
            }
        }

        &:hover {
            .chevron-box {
                > i {
                    transform: rotate(90deg);
                    color: $colour-primary;
                }
            }
            .sub-menu {
                padding: 18px 15px;
                background-color: black;
                width: 30vw;
                display: flex;
                flex-direction: column;

                li {
                    min-width: fit-content;
                    padding: 8px 25px;
                    .ui-submenu-item {
                        color: white;
                        &:visited,
                        &:link,
                        &:active {
                            color: white;
                        }
                        &:hover {
                            color: $colour-primary;
                        }
                    }
                }
            }
        }
    }

    .show-nav > .uicore-nav-menu {
        justify-content: flex-end;
    }

    .uicore-nav-menu {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 600;

        .ui-menu-item-wrapper {
            color: white;
        }
    }
    .navbar__links {
        display: flex;

        .navbar__link {
            padding: 28px 25px;
        }
        .sub-menu {
            display: none;
            position: absolute;
            top: 78.5px;
            left: -20px;
        }
    }

    .burger {
        display: none;
    }
}

// .navbar__link {
//     transition: all 0.5s ease-in-out;
// }
// .navbar__links {
//     overflow: hidden;
//     display: flex;
//     flex-direction: column;
//     width: 0;
//     height: calc(100vh - 65px);
//     position: absolute;
//     top: 65px;
//     right: 0;
//     background: var(grey);
//     transform: translateX(110%);
//     transition: all 0.5s ease-in-out;
// }
