.section-timeline__container {
    padding: 20px 10px 20px 40px;
    position: relative;
    background-color: white;
    width: 90%;
    margin: 2em auto;


    .content-timeline-container {
        padding: 10px;
    }

    .content-timeline-block {
        position: relative;
        padding-bottom: 28px;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }


        .timeline-content {
            position: relative;
            padding: 40px 20px 30px 50px;
            margin-left: 60px;
            border-radius: 0.25em;
            box-shadow: -4px 0px 23px 0px rgb(0 0 0 / 17%);
            text-align: left;

            &::before {
                content: "";
                position: absolute;
                right: 100%;
                height: 0;
                width: 0;
                border: 7px solid transparent;
                border-left: none;
                border-right-color: #ffffff;
                border-width: 12px;
            }
            p {
                margin: 1em 0;
                color: $colour-body;
                font-size: 14px;
                line-height: 1.3em;
            }

            > h3 {
                font-size: 24px;
                color: $colour-primary;
                line-height: 1.2;
            }
        }

        .numbertimeline {
            position: absolute;
            margin-left: -40px;
            font-size: 22px;
            line-height: 1.5;
            font-weight: bold;
            color: white;
            background-color: #fab830;
            padding: 0px 12px 3px 12px;
            border-radius: 100px;
        }

        .btntimeline {
            padding: 3px 15px 5px 15px;
            background-color: #fab830;
            color: white;
            border-radius: 100px;
            font-weight: 500;
        }

        .timeline-title-italic {
            span {
                font-family: "Perfetto", Sans-serif;
                font-size: 65px;
                font-weight: normal;
                line-height: 0.8em;
                letter-spacing: 0.2px;
            }

            :last-child {
                color: $colour-dark;
            }
        }

        .content-timeline-line {
            margin-left: -18px;
            background: #d8d8d8;

            position: absolute;
            top: 5px;
            left: 18px;
            height: 100%;
            width: 4px;
            margin-top: 20px;
            overflow: hidden;
        }

        .last-line {
            height: 40%;
        }

        .timeline-picture {
            position: absolute;
            background: #070707;
            top: 10%;
            left: 0;
            border-radius: 50%;
            height: 75px;
            width: 75px;
            box-shadow: 0 1px 0 1px rgb(0 0 0 / 10%);
            margin-left: -40px;


            > img {
                display: block;
                width: 40px;
                height: auto;
                position: relative;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .timeline-picture-first {
            > img {
                height: auto;
                max-width: 100%;
                width: 170px;
            }
        }
        .timeline-picture-last {
            > img {
                position: absolute;
                top: 50%;
                width: 80px;
                border-radius: 100px;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.progress-container {
    position: absolute;
    top: 150px;
    left: 45px;
    height: 75%;
    width: 4px;
    background: #D8D8D8;
    overflow: hidden;

    .progress-bar {
        width: 4px;
        background: $colour-primary;
        height: 0%;
    }
}

