@font-face {
  font-family: "Perfetto";
  src: url(../../public/webfont/Perfetto-Regular.eot);
}
body {
  color: #101010;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}

@font-face {
  font-family: "Perfetto";
  src: url(../../public/webfont/Perfetto-Regular.woff);
}
h1 {
  font-family: "Assistant", Sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #f8b133;
}

h2 {
  font-size: 1.175em;
  font-weight: 700;
  color: #070707;
}

h3 {
  font-weight: 600;
  font-size: 1.7rem;
  color: #070707;
}

h4 {
  font-weight: 600;
  font-size: 1.42em;
  color: #070707;
}

h5 {
  font-size: 1.187em;
  font-weight: 300;
  color: #006aea;
}

h6 {
  font-weight: 600;
  font-size: 1.2em;
  color: #070707;
}

p {
  font-weight: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #4d5462;
  font-family: "Assistant", "Inter";
}

.body-container {
  max-width: 100vw;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:visited, a:link, a:active {
  color: black;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1025px) {
  .flex-column {
    flex-direction: flex;
    flex-wrap: wrap;
  }
}
.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Main {
  padding-top: 7rem;
}

.font-italic {
  font-family: "Perfetto";
}

.clr-primary {
  color: #f8b133;
}

.clr-light {
  color: #ffffff;
}

.clr-accent {
  color: #006aea;
}

.text-strong {
  font-weight: bold;
}

.btn-savin {
  font-family: "Assistant", Sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #f8b133;
  padding: 10px 28px;
  font-size: 12px;
  border: none;
  text-decoration: none;
  color: #ffffff;
  line-height: 1.3333;
  margin: 15px;
  cursor: pointer;
}

.uicore-header-wrapper {
  height: 100%;
}

#wrapper-navbar {
  height: 100%;
}

.test {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.nav__container {
  position: fixed;
  z-index: 99;
  width: calc(100vw - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  transition: 0.5s ease-in-out;
}

.uicore-nav-menu {
  display: none;
  padding-top: 60px;
}

.sub-menu {
  display: none;
}

.show-nav {
  height: 100vh;
  background-color: white !important;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.show-nav .test {
  width: 100%;
  flex: 0;
  display: flex;
  justify-content: space-between;
}
.show-nav > .uicore-nav-menu {
  width: 100%;
  display: flex;
  flex: 1;
}

.uicore-branding > a {
  display: flex;
}

.burger {
  display: block;
  position: relative;
  height: 25px;
  width: 25px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 3px;
  background: red;
  transition: all 0.5s ease-in-out;
}

.bar::before,
.bar::after {
  content: "";
  width: 25px;
  height: 3px;
  position: absolute;
  left: 0;
  background: black;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

/* Toggle menu */
.show-nav .bar {
  background: transparent;
}

.show-nav .bar::before {
  transform: rotate(45deg);
}

.show-nav .bar::after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 1025px) {
  .nav__container {
    padding: 0 30px;
  }
  .menu-item-has-children {
    position: relative;
    margin-right: 10px;
  }
  .menu-item-has-children > a::after {
    content: url(../../public/img/common/arrows_bottom_white.svg);
    position: absolute;
    top: 32px;
  }
  .show-nav {
    flex-direction: row;
  }
  .show-nav > .uicore-nav-menu {
    justify-content: flex-end;
  }
  .uicore-nav-menu {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    background: var(grey);
    color: var(red);
  }
  .navbar__links {
    display: flex;
  }
  .navbar__link {
    padding: 30px 25px;
  }
  .sub-menu {
    display: none;
  }
  .burger {
    display: none;
  }
  .menu-item-has-children {
    position: relative;
  }
  .menu-item-has-children:hover > a {
    color: #f8b133;
  }
  .menu-item-has-children:hover .sub-menu {
    padding: 18px 15px;
    background-color: black;
    width: 30vw;
    display: flex;
    flex-direction: column;
  }
  .menu-item-has-children:hover .sub-menu > li {
    min-width: fit-content;
  }
  .menu-item-has-children:hover .sub-menu > li a {
    color: aliceblue;
    line-height: 2.2;
  }
  .sub-menu {
    position: absolute;
    top: 90px;
    left: -20px;
  }
}
.show-nav .navbar__links {
  color: grey;
}

.navbar__link {
  transition: all 0.5s ease-in-out;
}

.show-nav .navbar__link {
  color: red;
}

.header__background {
  background-image: url(../../public/img/common/home-background.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 695px;
  width: 100vw;
}

.banner__container {
  display: flex;
  height: calc(695px - 8rem);
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 8rem 3rem 3rem 3rem;
}
.banner__container h1 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  font-family: "Assistant", Sans-serif;
}
.banner__container--content {
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
}
.banner__container .btn-homepage {
  width: 70%;
  padding: 5px 0;
  max-width: 260px;
}

@media screen and (min-width: 1025px) {
  .header__background {
    height: 100vh;
  }
  .banner__container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .banner__container h1 {
    text-align: left;
    font-size: 54px;
  }
  .banner__container--content {
    align-items: flex-start;
    font-size: 28px;
    font-weight: 500;
  }
  .btn-homepage__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .btn-homepage__container > .elementor-widget-container {
    margin-right: -50px;
  }
}
.common__background {
  background-image: url(../../public/img/common/blog-background.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  text-align: center;
  color: #ffffff;
}
.common__background .common__container {
  min-height: 200px;
  justify-content: space-between;
  padding: 20px 0 30px 0;
}
.common__background .common__container p {
  margin-top: -5px;
}
.common__background .common__container p a {
  font-size: 14px;
  color: #ffffff;
}
.common__background .common__container h2 {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.common__background .common__container h2 :first-child {
  font-size: 56px;
  font-weight: normal;
}
.common__background .common__container h2 :last-child {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Assistant", Sans-serif;
}

.section-timeline__container {
  padding: 20px 10px 20px 40px;
  position: relative;
  background-color: white;
  overflow: hidden;
}
.section-timeline__container .content-timeline-container {
  padding: 10px;
}
.section-timeline__container .content-timeline-block {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.section-timeline__container .content-timeline-block .timeline-content {
  position: relative;
  padding: 40px 20px 30px 50px;
  margin-left: 70px;
  border-radius: 0.25em;
  box-shadow: -4px 0px 23px 0px rgba(0, 0, 0, 0.17);
  text-align: left;
}
.section-timeline__container .content-timeline-block .timeline-content::before {
  content: "";
  position: absolute;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-left: none;
  border-right-color: #ffffff;
  border-width: 12px;
  top: 24%;
}
.section-timeline__container .content-timeline-block .timeline-content p {
  margin: 1em 0;
  color: #4d5462;
  font-size: 14px;
  line-height: 1.3em;
}
.section-timeline__container .content-timeline-block .timeline-content > h3 {
  font-size: 24px;
  color: #f8b133;
  line-height: 1.2;
}
.section-timeline__container .content-timeline-block .numbertimeline {
  position: absolute;
  margin-left: -40px;
  font-size: 22px;
  line-height: 1.5;
  font-weight: bold;
  color: white;
  background-color: #fab830;
  padding: 0px 12px 3px 12px;
  border-radius: 100px;
}
.section-timeline__container .content-timeline-block .btntimeline {
  padding: 3px 15px 5px 15px;
  background-color: #fab830;
  color: white;
  border-radius: 100px;
  font-weight: 500;
}
.section-timeline__container .content-timeline-block .timeline-title-italic span {
  font-family: "Perfetto", Sans-serif;
  font-size: 65px;
  font-weight: normal;
  line-height: 0.8em;
  letter-spacing: 0.2px;
}
.section-timeline__container .content-timeline-block .timeline-title-italic :last-child {
  color: #171e35;
}
.section-timeline__container .content-timeline-block .content-timeline-line {
  margin-left: -18px;
  background: #d8d8d8;
  position: absolute;
  top: 5px;
  left: 18px;
  height: 100%;
  width: 4px;
  margin-top: 20px;
  overflow: hidden;
}
.section-timeline__container .content-timeline-block .last-line {
  height: 40%;
}
.section-timeline__container .content-timeline-block .timeline-picture {
  background: #070707;
  margin-top: 80px;
  border-width: 0;
  width: 75px;
  height: 75px;
  margin-left: -35px;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  line-height: 1;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1);
}
.section-timeline__container .content-timeline-block .timeline-picture > img {
  display: block;
  width: 40px;
  height: auto;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section-timeline__container .content-timeline-block .timeline-picture-first {
  width: 75px;
  height: 75px;
  margin-top: 20px;
  margin-left: -35px;
  z-index: 1;
}
.section-timeline__container .content-timeline-block .timeline-picture-first > img {
  height: auto;
  max-width: 100%;
  width: 170px;
}
.section-timeline__container .timeline-picture-last > img {
  position: absolute;
  top: 50%;
  width: 80px;
  border-radius: 100px;
  transform: translate(-50%, -50%);
}

.footer-home__container {
  padding: 30px 20px;
  background-color: #f8b133;
  text-align: center;
}
.footer-home__container .content-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #171e35;
  font-weight: bold;
  line-height: 1.2em;
}
.footer-home__container h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 0.8em;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
}
.footer-home__container .customs-img {
  width: 20%;
}
.footer-home__container li span {
  color: #ffffff;
  line-height: 1.5em;
  font-size: 14px;
}
.footer-home__container--box {
  padding: 10px;
}
.footer-home__container .copyright {
  font-size: 14px;
}

.footer-common__container {
  background-color: #171e35;
  color: #ffffff;
}
.footer-common__container--box {
  padding: 30px 0;
}
.footer-common__container--box .title--box {
  text-align: center;
  padding: 10px;
}
.footer-common__container--box .title--box :first-child {
  color: #ffffff;
  font-size: 52px;
  font-weight: normal;
  line-height: 0.8em;
  letter-spacing: 0.2px;
}
.footer-common__container--box .title--box :last-child {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.8em;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.footer-common__container--box .btn--box {
  padding: 10px;
  display: flex;
}
.footer-common__container--box .btn--box a {
  padding: 0 5px;
}
.footer-common__container--box .btn--box a img {
  width: 100px;
}
.footer-common__container--box .copyright--box {
  display: flex;
  flex-direction: column;
}
.footer-common__container--box .copyright--box span {
  font-size: 18px;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2em;
}
.footer-common__container--box .copyright--box span a {
  color: #ffffff;
}

hr {
  width: 50px;
  margin: 15px auto;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: 2px solid #f8b133;
}

.section-icons__container {
  text-align: center;
  background-color: white;
  padding: 30px 20px;
}
.section-icons__container h3 {
  color: #f8b133;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.section-icons__container p {
  color: #4d5462;
  font-size: 14px;
  font-weight: 500;
}
.section-icons__container--box {
  padding-top: 30px;
}

.section-phone__container {
  padding: 30px 20px;
  background-color: #FEF8EA;
}
.section-phone__container--img {
  height: 70%;
  padding-top: 30px;
  text-align: center;
}
.section-phone__container--img .img-phone {
  width: 70%;
  max-width: 770px;
}
.section-phone__container--content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.section-phone__container--content > h2 {
  font-family: "Perfetto", Sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 0.8em;
  margin: 30px 0;
}
.section-phone__container--content > p {
  font-size: 14px;
  color: #171e35;
  margin-bottom: 1em;
}
.section-phone__container--content .btn-phone__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.section-phone__container--content img {
  width: 150px;
}

@media screen and (max-width: 363px) {
  .btn-phone__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .btn-phone__container img {
    width: 120px;
  }
}
.section-how__container {
  padding: 30px 20px;
  text-align: center;
  background-color: white;
}
.section-how__container > h2 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
}
.section-how__container .header__content--p1 {
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 500;
  color: #4d5462;
  padding-top: 20px;
}
.section-how__container .header__content--p1 :first-child {
  padding-bottom: 14px;
}
.section-how__container .header__content--p2 {
  padding-top: 20px;
  font-size: 30px;
  font-weight: normal;
  line-height: 0.8em;
  letter-spacing: 0.2px;
}

.section-advantages__container {
  padding: 30px 20px;
  text-align: center;
  background-color: #171e35;
}
.section-advantages__container .aside-download__container {
  display: none;
  z-index: 2;
  margin-top: -150px;
}
.section-advantages__container .aside-download__container--box {
  width: 600px;
  height: 250px;
  background-image: url(../../public/img/common/home-download.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-advantages__container .aside-download__container h2 {
  text-align: left;
}
.section-advantages__container .aside-download__container .foreground-content {
  display: flex;
  flex-direction: column;
}
.section-advantages__container .aside-download__container .download-btn__container {
  display: flex;
}
.section-advantages__container .aside-download__container .download-btn__container img {
  width: 150px;
}
.section-advantages__container > h2 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}
.section-advantages__container h3 {
  color: #f8b133;
  font-family: "Assistant", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.section-advantages__container p {
  line-height: 1.2em;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
}
.section-advantages__container--box {
  padding-top: 20px;
}
.section-advantages__container .circle {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
  height: 61px;
  background: transparent;
  border: 1px solid #f8b133;
  border-radius: 50%;
}
.section-advantages__container .circle > img {
  width: 35px;
  height: 35px;
}

.section-faq__container {
  padding: 30px 20px;
  background-color: #ffffff;
}
.section-faq__container img {
  height: auto;
  max-width: 100%;
}
.section-faq__container h2 {
  color: #171e35;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}
.section-faq__container .btn-see-less {
  display: none;
}
.section-faq__container--question-box {
  border-left: solid 2px #f8b133;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
}
.section-faq__container--question-box .question {
  padding: 10px 15px;
  box-shadow: 0px 0px 10px 0px #e5e5e5;
  margin-top: 12px;
  min-height: 27px;
}
.section-faq__container--question-box .question h3 {
  font-size: 14px;
  color: #f8b133;
  font-weight: 600;
  line-height: 1;
}
.section-faq__container--question-box .question img {
  width: 14px;
  height: 14px;
  margin-left: 10px;
}
.section-faq__container .all-questions {
  opacity: 0;
  height: 0;
  width: 100%;
  padding: 10px;
  transform-origin: top;
}
.section-faq__container .content {
  display: none;
  padding: 7px 15px;
}
.section-faq__container .content ul {
  padding-left: 40px;
}
.section-faq__container .content ul li {
  list-style-type: disc;
}
.section-faq__container .content li,
.section-faq__container .content p {
  font-size: 12px;
}
.section-faq__container .content address {
  text-align: center;
}
.section-faq__container .hide-content {
  display: none;
}
@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.section-faq__container .reveal-content .hide-content {
  display: flex;
}
.section-faq__container .reveal-content .content {
  display: block;
  animation: showContent 1s ease-in-out both;
}
.section-faq__container .reveal-content .show-content {
  display: none;
}

.section-how__container .all-questions,
.show-questions .all-questions {
  height: 100%;
  animation: fade_in_show 0.4s ease-in-out both;
}
.section-how__container .btn-see-more,
.show-questions .btn-see-more {
  display: none;
}
.section-how__container .btn-see-less,
.show-questions .btn-see-less {
  display: block;
}

.section-taxfree__container {
  padding: 30px 20px;
  background-color: #FEF8EA;
}
.section-taxfree__container h2 {
  color: #171e35;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}
.section-taxfree__container--box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.section-taxfree__container--box-item {
  padding: 13px 10px 0px 13px;
}
.section-taxfree__container figure img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
.section-taxfree__container figure figcaption {
  margin: 15px 20px 10px 20px;
}
.section-taxfree__container figure figcaption h2 {
  text-transform: uppercase;
  font-size: 18px;
  color: #f8b133;
  line-height: 1.175;
}
.section-taxfree__container figure figcaption p {
  font-weight: 500;
  color: #171e35;
  margin-top: 15px;
  line-height: 1.5em;
}
.section-taxfree__container figure figcaption .read-more {
  padding-top: 30px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .section-taxfree__container--box {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section-taxfree__container--box figure {
    width: 50%;
  }
}
@media screen and (min-width: 1025px) {
  .section-taxfree__container--box figure {
    width: 33.33%;
  }
}
.section-contact__container {
  padding: 30px 20px;
  background-color: #171e35;
}
.section-contact__container h3 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
}
.section-contact__container .contact-items {
  padding-top: 20px;
}
.section-contact__container .contact-items img {
  width: 30px;
  height: 30px;
}
.section-contact__container .contact-items p {
  color: #ffffff;
  font-size: 12px;
  line-height: 1.2em;
}
.section-contact__container .contact-items p:not(:last-child) {
  margin-bottom: 12px;
}
.section-contact__container .social-box {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-contact__container .social-box span {
  margin: 0 5px;
  background-color: #ffffff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.section-contact__container .social-box span > i {
  color: #171e35;
}/*# sourceMappingURL=main.css.map */