.btn-savin {
    font-family: "Assistant", Sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    background-color: $colour-primary;
    padding: 10px 28px;
    font-size: 14px;
    border: none;
    text-decoration: none;
    color: $colour-light;
    line-height: 1.3333;
    margin: 15px;
    cursor: pointer;
    a {
        color: $colour-light;
    }

    @include MQ(M) {
        font-size: 18px;
        padding: 16px 28px;
    }
}