.background-image {
    width: calc(100% - 26px);

    .aside-download__container {
        margin: 30px 0 50px 0;
        background-image: url(../../public/img/common/home-download.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        .foreground-content {
            display: flex;
            flex-direction: column;
            padding: 40px;
            justify-content: start;

            header {
                > h2 {
                    color: $colour-light;
                    line-height: 1.2;
                }
                :first-child {
                    font-size: 72px;
                    font-weight: normal;
                    font-style: normal;
                    letter-spacing: -0.027em;
                    text-transform: none;
                    margin-bottom: -25px;
                }
                :last-child {
                    font-family: "Assistant", Sans-serif;
                    font-size: 52px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
            }
            .download-btn__container {
                display: flex;
            }
        }

        .btn-stores {
            width: 200px;
            margin-right: 10px;
        }
    }
}
