.social__container {
    display: flex;
    align-items: center;
    justify-content: center;

    &--item {
        margin: 0 5px;
        background-color: $colour-light;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        align-items: center;
        display: flex;
        justify-content: center;
        a{
            color: $colour-dark; 
        
        }
   
    }
}

@include MQ(M) {
    .large-screen {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .logo-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .logo {
                display: flex;
                justify-content: space-between;

                > img {
                    height: 40px;
                }
            }

            .backto {
                a {
                    font-size: 16px;
                    padding-left: 20px;
                }
            }
        }
    }
}
