*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-color: $colour-light;
    color: $colour-body;
    font-family: "Assistant", "Inter";
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    &:visited,
    &:link,
    &:active {
        color: black;
    }
}

address {
    color: #6E7A84;
    font-family: "Assistant", "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    // line-height: 1.2;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-hidden {
    display: none;
}

@include MQ(M) {
    // .flex-column {
    //  flex-direction: row;
    // flex-wrap: wrap;
    // }

    .mobile-hidden {
        display: flex;
    }
 }

.flex-between {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}


.font-italic {
    font-family: "Perfetto";
}

.clr-primary {
    color: $colour-primary;
}

.clr-light {
    color: $colour-light;
}

.clr-accent {
    color: $colour-accent;
}

.text-strong{
    font-weight: bold;
}