*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    // background-color: red;
    color: $colour-body;
    font-family: "Assistant", "Inter";
}

.body-container {
    max-width: 100vw;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    &:visited,
    &:link,
    &:active {
        color: black;
    }
}

address {
    color: #6e7a84;
    font-family: "Assistant", "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    // line-height: 1.2;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-hidden {
    display: none;
}

@media (min-width: 768px) {
    .flex-column {
        flex-direction: flex;
        flex-wrap: wrap;
    }

    .mobile-hidden {
        display: flex;
    }
}

.flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.font-italic {
    font-family: "Perfetto";
}
.clr-body {
    color: $colour-body;
}

.clr-primary {
    color: $colour-primary;
    > a {
        color: $colour-primary;
        &:visited,
        &:link,
        &:active {
            color: $colour-primary;
        }
    }
}

.clr-light {
    color: $colour-light;
}

.clr-accent {
    color: $colour-accent;
}

.text-strong {
    font-weight: bold;
}
