.section-articles__container {
    width: 90%;
    margin: 50px auto;
    &--box {
        padding: 10px;
        img {
            height: 150px;
            width: 100%;
            object-fit: cover;
        }
    }
    h1 {
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 20px;
        font-weight: bold;
    }
}
