.main-taxfree-news__container {
    background-color: #f4f8fb;

    .taxfree-news__container {
        width: 90%;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 50px;
        max-width: 1170px;

        h2 {
            color: $colour-dark;
            font-size: 22px;
            font-weight: 500;
            text-transform: uppercase;
        }

        &--box {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;

            &-item {
                padding: 13px 10px 0px 13px;
            }
        }

        figure {
            img {
                height: 150px;
                width: 100%;
                object-fit: cover;
            }

            figcaption {
                margin: 15px 20px 10px 20px;
                h2 {
                    text-transform: uppercase;
                    font-size: 18px;
                    color: $colour-primary;
                    line-height: 1.175;
                    font-weight: 700;
                }
                p {
                    font-size: 14px;
                    font-weight: 500;
                    color: $colour-dark;
                    margin-top: 15px;
                    line-height: 1.5em;
                }
                .read-more {
                    padding-top: 30px;
                    font-weight: bold;
                    font-size: 15px;
                    font-weight: bold;
                    > a {
                        color: $colour-body;
                        &:active,
                        &:visited {
                            color: $colour-body;
                        }
                    }
                }
            }
        }
    }
}
