// .main__container {
//     padding: 30px 20px;
// }

hr {
    width: 50px;
    margin: 15px auto;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: 2px solid $colour-primary;
}

.BACK-ICONS-CONTAINER {
    background-color: white;
    width: 100%;
}
.section-icons__container {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    padding: 40px 0 30px 0;
    max-width: 1170px;

    h3 {
        margin: 10px 0 20px 0;
        color: $colour-primary;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        color: $colour-body;
        font-size: 14px;
        font-weight: 500;
    }

    &--box {
        padding-top: 30px;
    }
    @include MQ(M) {
        flex-direction: row;
        align-items: flex-start;
        padding: 0;

        margin: 100px auto;
        &--box {
            // max-width: 390px;
            width: 100%;
            padding: 0 25px;
            h3 {
                font-size: 18px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

.BACK-PHONE-CONTAINER {
    width: 100%;
    background-color: $colour-bg;
}
.section-phone__container {
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
    max-width: 1170px;

    &--img {
        padding-top: 30px;
        text-align: center;
        .img-phone {
            width: 70%;
            max-width: 770px;
        }
    }

    &--content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        > h2 {
            font-family: $font-italic;
            font-size: 30px;
            font-weight: normal;
            line-height: 0.8em;
            margin: 30px 0;
        }
        > p {
            font-size: 14px;
            color: $colour-dark;
            margin-bottom: 1em;
        }

        .btn-phone__container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;

            > :first-child {
                padding-right: 20px;
            }
            img {
                width: 150px;
            }
        }
    }

    @include MQ(M) {
        flex-direction: row-reverse;
        padding: 0 15px;

        &--content {
            width: 60%;
            > h2 {
                font-size: 51px;
            }
            > p {
                font-size: 18px;
                margin-bottom: 2em;
            }
            padding-bottom: 30px;

            .btn-phone__container {
                justify-content: flex-start;
            }
        }
        &--img {
            .img-phone {
                width: 100%;
                max-width: 674px;
            }
        }
    }
}

@media screen and (max-width: 363px) {
    .btn-phone__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        img {
            width: 120px;
        }
    }
}

.BACK-HOW-CONTAINER {
    width: 100%;
    background-color: white;
}
.section-how__container {
    margin: 0 auto;
    padding: 30px 0 50px 0;
    text-align: center;
    width: 90%;
    max-width: 1170px;

    > h2 {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .header__content {
        &--p1 {
            font-size: 14px;
            line-height: 1.2em;
            font-weight: 500;
            color: $colour-body;
            padding-top: 20px;

            :first-child {
                padding-bottom: 16px;
            }
        }

        &--p2 {
            padding-top: 20px;
            font-size: 30px;
            font-weight: normal;
            line-height: 0.8em;
            letter-spacing: 0.2px;
            color: $colour-dark;
        }
    }

    @include MQ(M) {
        margin-top: 100px;
        padding: 10px 10px 60px 10px;

        > h2 {
            font-size: 38px;
        }
        .header__content {
            &--p1 {
                font-size: 16px;
            }
            &--p2 {
                font-size: 52px;
            }
        }
    }
}

.BACK-ADVANTAGES-CONTAINER {
    background-color: $colour-dark;
    width: 100%;
    @media screen and (max-width: 767.8px) {
        padding-top: 200px;
    }
}
.section-advantages__container {
    padding: 40px 0;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1170px;

    .title-advantages {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
    }
    &--content {
        h3 {
            text-transform: uppercase;
            color: $colour-primary;
            font-family: "Assistant", Sans-serif;
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0 20px 0;
        }

        p {
            color: $colour-light;
            font-size: 14px;
            font-weight: 500;
        }

        .figure-content-box-1 {
            padding-top: 20px;
        }
        .figure-content-box {
            padding-top: 30px;
        }

        .circle {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 61px;
            height: 61px;
            background: transparent;
            border: 1px solid $colour-primary;
            border-radius: 50%;

            > img {
                width: 35px;
                height: 35px;
            }
        }
    }

    @include MQ(M) {
        padding-bottom: 150px;
        &--content {
            flex-direction: row;
            align-items: flex-start;
        }

        .figure-content-box-1,
        .figure-content-box {
            padding: 30px 25px 0 25px;
            width: 100%;
        }

        .title-advantages {
            font-size: 38px;
            padding-top: 1rem;
        }
        p {
            font-size: 16px;
        }
    }
}
.BACK-FAQ-CONTAINER {
    width: 100%;
    background-image: url(../../public/img/common/faq-background.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}
.section-faq__container {
    padding-top: 30px;
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;

    h2 {
        color: $colour-dark;
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &--box {
        padding-top: 20px;
    }
    @include MQ(M) {
        margin: 100px auto;
        &--box {
            display: flex;
            flex-direction: row;
            align-items: center;

            .all-questions-box {
                width: 90%;
            }
        }

        h2 {
            font-size: 38px;
        }
    }

    .first-questions {
        padding: 0 10px;
        width: 100%;
    }
    .img-box {
        @include MQ(M) {
            padding-left: 20px;
        }
        img {
            width: 100%;
            height: auto;
            max-width: 540px;
        }
    }

    .flex-column {
        button {
            margin-top: 40px;
        }
    }

    .btn-see-less {
        display: none;
    }

    &--question-box {
        border-left: solid 2px $colour-primary;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
        cursor: pointer;

        .question {
            padding: 10px 15px;
            box-shadow: 0px 0px 10px 0px #e5e5e5;
            margin-top: 12px;
            min-height: 27px;

            h3 {
                font-size: 14px;
                color: $colour-primary;
                font-weight: 600;
                line-height: 1;
            }
            @include MQ(M) {
                padding: 15px 20px;

                h3 {
                    font-size: 18px;
                }
            }

            img {
                width: 14px;
                height: 14px;
                margin-left: 10px;
            }
        }
        // &:last-child {
        //     height: 15px;
        //     background: linear-gradient(white, rgba(255, 255, 255, 0));
        //     // box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.26);
        // }
    }

    .all-questions {
        opacity: 0;
        height: 0;
        width: 100%;
        padding: 0 10px 10px 10px;
        transform-origin: top;
    }

    .content {
        display: none;
        padding: 7px 15px;

        ul {
            padding-left: 40px;
            li {
                list-style-type: disc;
            }
        }
        li,
        p {
            line-height: 1.875;
            color: $colour-body;
            font-size: 12px;
        }
        address {
            text-align: center;
        }

        @include MQ(M) {
            li,
            p {
                font-size: 14px;
            }
            padding: 15px 20px;
        }
    }

    .hide-content {
        display: none;
    }

    @keyframes showContent {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    // @keyframes showQuestions {
    //     from {
    //         opacity: 0;
    //         height: 0;
    //     }
    //     to {
    //         height: 100%;
    //         opacity: 1;
    //     }
    // }
    @keyframes fade_in_show {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .reveal-content {
        .hide-content {
            display: flex;
        }
        .content {
            display: block;
            animation: showContent 0.4s ease-in-out both;
        }
        .show-content {
            display: none;
        }
    }
}

.section-how__container,
.show-questions {
    .all-questions {
        height: 100%;
        animation: fade_in_show 0.4s ease-in-out both;
    }

    .btn-see-more {
        display: none;
    }
    .btn-see-less {
        display: block;
    }
}

.BACK-TAXFREE-CONTAINER {
    background-color: $colour-bg;
    width: 100%;
}
.section-taxfree__container {
    padding: 30px 10px;
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;

    h2 {
        color: $colour-dark;
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &--box {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        &-item {
            padding: 18px 10px 0px 13px;
        }
    }

    figure {
        img {
            height: 150px;
            width: 100%;
            object-fit: cover;
            cursor: pointer;
            // transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
            //     &:hover,
            //     :focus {

            //         transform: scale(1.2);

            //     }
        }

        figcaption {
            margin: 15px 10px 10px 10px;
            h2 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 18px;
                color: $colour-primary;
                line-height: 1.175;
            }
            p {
                font-weight: 500;
                color: $colour-body;
                margin-top: 15px;
                line-height: 1.5em;
                font-size: 14px;
            }
            .read-more {
                font-size: 14px;
                > a {
                    color: $colour-body;
                }
                padding-top: 30px;
                font-weight: bold;
            }
        }
    }
    @include MQ(M) {
        padding: 100px 10px;

        h2 {
            font-size: 38px;
        }
    }
}

@include MQ(M) {
    .section-taxfree__container {
        &--box {
            flex-direction: row;
            flex-wrap: wrap;
            figure {
                width: 50%;
            }
        }
    }
}

@include MQ(L) {
    .section-taxfree__container {
        &--box {
            // flex-direction: row;
            // flex-wrap: wrap;
            figure {
                width: 33.33%;
            }
        }
    }
}

.BACK-CONTACT-CONTAINER {
    width: 100%;
    background-color: $colour-bg;
}

.section-contact__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: center;
    max-width: 1170px;

    .img-box {
        display: none;
    }

    &--content {
        align-items: flex-start;
        width: 100%;
        padding: 30px 20px;
        background-color: $colour-dark;
        h3 {
            color: $colour-light;
            text-transform: uppercase;
            font-size: 22px;
        }

        .contact-items {
            display: flex;
            flex-direction: column;
            width: 100%;
            // &:not(:first-child) {
            //     display: flex;
            // }
            padding-top: 20px;

            img {
                width: 30px;
                height: 30px;
                margin-right: 5px;
            }
        }

        p {
            padding-top: 12px;
            font-weight: normal;
            color: $colour-light;
            font-size: 14px;
            line-height: 1.2em;
        }

        .social__container {
            margin: 0 auto;
            padding-top: 20px;
        }
    }

    @include MQ(M) {
        width: 90%;
        padding: 0 25px;
        &--content {
            padding: 100px 60px 100px 40px;

            .contact-items {
                flex-direction: row;
                align-items: center;
            }
            .contact-p {
                :first-child {
                    margin-bottom: 12px;
                }

                padding-left: 35px;
                padding-top: 5px;
                .margin-top {
                    margin-top: 12px;
                }
            }
            .social__container {
                padding-left: 20px;
            }

            p {
                padding-top: 0;
            }
        }
        .img-box {
            display: block;
            height: auto;

            > img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
    @include MQ(L) {
        padding: 0;
    }
}
