$fa-font-path: "../../public/fontawesome/webfonts";
$colour-primary: #f8b133;
$colour-dark: #171e35;
$colour-light: #ffffff;
$colour-accent: #006aea;
$colour-bg: #FEF8EA;
$colour-body: #4d5462;
$colour-p: #6E7A84;
$colour-headline: #070707;
$colour-toggle: #F8FCFC;


@font-face {
    font-family: "Perfetto";
    src:url(../../public/webfont/Perfetto-Regular.eot);
}

$font-italic: "Perfetto", Sans-serif;



